<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="emp" type="com.jboa.entity.Employee"/>
		<typeAlias alias="dept" type="com.jboa.entity.Department"/>
		<typeAlias alias="position" type="com.jboa.entity.Position"/>
	</typeAliases>
</configuration>
